<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Isomorphic React Demo</title>
</head>
<body>
  <div id="app"><%- ssr %></div>
  <script src="index.js"></script>
</body>
</html>
